@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent {
  background: rgb(15, 27, 63) !important;
  color: white;
}

.footer {
  border: "1px solid #E7E7E7";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(15, 27, 63);
  color: white;
  text-align: center;
}
