.theme-color {
  color: white;
}
/* .parent {
  background: #1d2743 !important;
  color: white;
} */

.footer {
  border: "1px solid #E7E7E7";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.logo {
  font-size: 48px;
  background: -webkit-linear-gradient(#b7bcc8, #51d7f6);
  /* #dbd1d1, #e38125 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  border-color: white;
}
form,
input,
label {
  color: white !important;
  border-color: white;
}

.project-page {
  text-align: center;
  /* padding: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: linear-gradient(black 25%, rgb(31, 41, 54) 58%, black 15%);
  min-height: 100vh;
}

body {
  background: rgb(31, 41, 55);
}

@media screen and (max-width: 900px) {
  #root {
    background: linear-gradient(
      rgb(31, 41, 55) 20%,
      black 20%,
      rgb(31, 41, 55) 65%,
      black 25%
    );
    min-height: 100vh;
  }

  .about,
  .contact,
  .portfolio,
  .experience,
  .home {
    text-align: center;
    height: 100%;
  }

  .about,
  .portfolio,
  .experience {
    margin-top: 10%;
  }

  .home img {
    margin-top: 25%;
  }

  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }

  .gap-8 {
    gap: 4rem;
  }

  .home h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-top: 7%;
  }

  .portfolio-btn {
    margin: auto;
  }

  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Typewriter__wrapper {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .Typewriter__cursor {
    display: none;
  }
  .typewriter {
    margin-top: 4%;
  }
}
